
#slider{
	width:500px;
	top:100px;
	position:absolute;cursor: pointer;
}
   
#header{width: 340px;
    height: 411px;
    position: absolute;
    right: 1px;
    border: 1px solid #d8d8d8;
    margin-left: 0;
    padding: 32px 40px 0px;
    border-radius: 3px;
    box-shadow: 0 0 8px grey;
    background: #fff;
}
#sidebar{
	position:absolute;
	top: 32px;
    left: 19px;
	box-shadow: 0 0 8px gray;
}

#sidebar1{
	position:absolute;
	top: 32px;
	left:118px;
	box-shadow: 0 0 8px gray;-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#header input[type=text]{ 
    margin-top: 10px;
    padding: 6px;
    width: 100%;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ffedd2;
}
div#title{
	position:absolute;
	top:300px;
	left:650px;
	}
	
#header select{
	padding:6px;
    margin-top: 10px;
	width:100%;
	font-size:15px;
	border-radius:2px;
    border: 1px solid #98d0f1;
}

#header textarea{
	padding:6px;
	font-size:15px;
	border-radius:2px;
    border: 1px solid #ffedd2;
	margin-top: 10px;
	height:80px;
	width:100%;
}	

#header button{
	background: #fbb03b;
	border: none;
	color: #fff;
	width: 100%;
	font-size: 17px;
	font-weight: bolder;
	padding: 8px 0 8px 0;
	border-radius: 3px;
	cursor: pointer;
    margin-top: 13px;
}
/*--------------------------------------
		Advertisement div
----------------------------------------*/
.formget{
	width:300px;
	margin-top: 65px;
	margin-left: 57px;
	float: left;
	}