<style>

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ffa553;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  @media only screen and (min-width: 1200px) {
    .custom-center{
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
</style>
<section class="sec_header">
  <!--Header-->
  <header>

    <nav class="navbar" data-spy="affix" data-offset-top="1" id="slide-nav">
      <div class="container">

        <div class="navbar-header col-sm-3 col-md-3 col-xs-12">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="home" ui-sref-active="active" class="menu-logo"><img src="images/logo.png" alt="logo"></a>
        </div>
        <!--Nav links-->
        <div class=" navbar-collapse col-sm-9 col-md-9" id="menu_nav">
          <a href="#" class="closs"><i class="fa fal fa-times"></i></a>
          <ul class="nav navbar-nav">
            <li>
              <!--<div class="libtnPhoneno">-->
                <a class="btnPhoneno" ui-sref='login' ui-sref-active="active" onclick= "return $('body').removeClass('offcanvas')"> Login</a>
              <!--</div>-->
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</section>

<div class="modal-body col-sm-12 col-xs-12" ng-controller="mainController as login">
  <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 sub-block no-padding text-center custom-center">
    <div class="inner">
      <div class="subscribe">
        <h4>Login </h4>

        <form class="form-part" name="form1" id="form1" method="post" ng-submit="login.doLogin()">

          <div class="form-group col-sm-12 no-padding">
            <input type="text" class="form-control"
                   name="username" maxlength="255" id="username"
                   ng-model="login.loginData.username" placeholder="Username"
                   required>
            <span style="color:red"
                  ng-show="MyformLogin.email.$touched && MyformLogin.email.$invalid && MyformLogin.email.$submitted">
       The Username is required.
     </span>
          </div>
          <div class="form-group col-sm-12 no-padding">
              <input type="password" name="password"  maxlength="128" id="password" ng-model="login.loginData.password"
                     class="form-control"
                     placeholder="Password" required>
              <span style="color:red"
                    ng-show="MyformLogin.pass.$touched && MyformLogin.pass.$invalid && MyformLogin.pass.$submitted">
              The Email is required.
            </span>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <!--<div class="capchabx">
              <span class="msg-error error"></span>
              <div class="g-recaptcha" data-sitekey="6LfUXYgUAAAAAGFJJNyXTqqrTd1-7eG1rWYQqqxk"
                   data-callback="recaptchaCallback"></div>
            </div>-->
          </div>


          <div class="col-sm-12 no-padding text-center">
            <div ng-show="login.Invalid" class="alert alert-danger" role="alert">
              Incorrect Password.
            </div>
            <div ng-show="login.InvalidUser" class="alert alert-danger" role="alert">
              Incorrect Email Address or Password.
            </div>
            <div ng-show="login.error" class="alert alert-danger" role="alert">
              Incorrect Email Address or Password.
            </div>
            <div ng-show="login.processing"  class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <button ng-hide="login.processing" type="submit" class="btn">Submit</button>
            <!--<a class="text" href="/signup">Sign Up Here</a>-->
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 newsletter-block center">
    <img src="images/newsletter.png" alt="Cooking">
  </div>
</div>



<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/appear.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="js/jquery.bxslider.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider_content').bxSlider({
            mode: 'fade',
            auto: true,
            autoControl: true,
            speed: 10
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('ul.nav li.dropdown-submenu').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(50);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(50);
        });
    });
</script>
<script>
    $zopim(function () {
        $zopim.livechat.setName('Logged in name');
        $zopim.livechat.setEmail('user@somewhere.com');
    });
</script>
