<section class="sec_header">


    <!--Header-->
    <header>

        <nav class="navbar" data-spy="affix" data-offset-top="1" id="slide-nav">
            <div class="container">

                <div class="navbar-header col-sm-3 col-md-3 col-xs-12">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="menu-logo"><img src="app/view/pages/images/logo.png" alt="logo"></a>

                </div>
                <!--Nav links-->
                <div class=" navbar-collapse col-sm-9 col-md-9" id="menu_nav">
                    <a href="#" class="closs"><i class="fa fal fa-times"></i></a>
                    <ul class="nav navbar-nav">
                        <li><a href="/"><i class="fa fas fa-home"></i>Home</a></li>
                        <li class="">
                            <a><i class="fas fa-burn"></i>Counsellors</a>
                            <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="/about-us">About us</a></li>-->
                            <!--<li><a href="/our-gallery">Our Gallery</a></li>-->
                            <!--<li><a href="/why-us">Why us</a></li>-->
                            <!--<li><a href="/our-vision">Our Vision</a></li>-->
                            <!--<li><a href="/our-mission">Our Mission</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li class="dropdown men "><a class="dropdown-toggle" data-toggle="dropdown"><i
                                class="fab fa-servicestack"></i>Services</a>
                            <ul class="dropdown-menu">

                                <li class="dropdown-submenu men"><a class="dropdown-toggle" data-toggle="dropdown">Service
                                    offered
                                    <i class="fa fas fa-chevron-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu men "><a class="dropdown-toggle"
                                                                             href="/serviceOffered"
                                                                             data-toggle="dropdown">
                                            <strong>Require Chefs/Cooks for?</strong></a></li>
                                        <li class="dropdown-submenu men "><a href="/hire-chefs-cook-for-restaurant">Restaurant</a>
                                        </li>
                                        <li class="dropdown-submenu men "><a
                                                href="/hire-chefs-cook-for-cafe">Café</a></li>
                                        <li class="dropdown-submenu men "><a
                                                href="/hire-chefs-cook-for-fine-dining">Fine Dining</a></li>
                                        <li class="dropdown-submenu men "><a href="/required-chefs-commercial">Commercial/Delivery
                                            Kitchen</a></li>
                                        <li class="dropdown-submenu men "><a href="/hire-chefs-cook-for-food-truck">Food
                                            truck</a></li>
                                        <li class="dropdown-submenu men "><a href="/hire-chefs-cook-for-home">Home
                                            (full time & no maids)</a></li>
                                        <li class="dropdown-submenu men "><a
                                                href="/hire-chefs-cook-for-one-day-event">One Day Event</a></li>
                                        <li class="dropdown-submenu men "><a href="/hire-chefs-cook-for-ocassions">Other</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu men"><a class="dropdown-toggle" data-toggle="dropdown">Rent
                                    Our Kitchen For?
                                    <i class="fa fas fa-chevron-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu men "><a href="/rent-kitchen-for-food-trials">Food
                                            Trials</a></li>
                                        <li class="dropdown-submenu men "><a href="/rent-kitchen-for-catering">Catering</a>
                                        </li>
                                        <li class="dropdown-submenu men "><a href="/rent-kitchen-for-get-together">Get
                                            Togethers</a></li>
                                        <li class="dropdown-submenu men "><a href="/rent-kitchen-for-photography">Photography</a>
                                        </li>
                                        <li class="dropdown-submenu men "><a
                                                href="/rent-kitchen-for-events">Events</a></li>
                                        <li class="dropdown-submenu men "><a
                                                href="/rent-kitchen-for-others">Other</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a><i class="fas fa-burn"></i>Consulting for?</a>
                            <ul class="dropdown-menu">
                                <li><a href="/consulting-for-others">Kitchen setup</a></li>
                                <li><a href="/consulting-for-menu-planning">Menu planning</a></li>
                                <li><a href="/consulting-for-recipe-standardization">Recipe standardization</a></li>
                                <li><a href="/consulting-for-staff-training">Staff training</a></li>
                                <li><a href="/consulting-for-operations">Operations</a></li>
                                <li><a href="/consulting-for-others">Others</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html"><i class="fas fa-compress"></i>Contact us</a></li>
                        <li>
                            <div class="libtnPhoneno">
                                <a class="btnPhoneno" href="/login" style="cursor:pointer"><i class="fas fa-sign-in-alt"></i>Login</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
</section>
<section id="reservation" class="space-bottom">
    <div class="container-fluid">
        <div class="modal-body col-sm-12 col-xs-12" ng-controller="UserCreateController as user">
    <div class="col-sm-8 col-xs-12 sub-block no-padding text-center center">
        <div class="inner">
            <div class="subscribe">
                <h2>Sign up Page</h2>
                <form class="form-part" name="form1" id="form1" method="post" ng-submit="user.signupUser()">
                    <div class="form-group col-sm-12 no-padding">
                        <div class="bxforminput">
                            <select class="form-control" name="requirement"
                                    ng-model="user.userData.Role" required>
                                <option value="">Select Role</option>
                                <option value="cooks">cooks</option>
                                <option value="client">client</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 no-padding">
                        <input type="text"
                               name="name"
                               class="form-control"
                               id="name"
                               placeholder="Name"
                               ng-model="user.userData.Name">
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="date"
                               name="BirthDate"
                               id="BirthDate"
                               class="form-control"
                               placeholder="Birth Date"
                               ng-model="user.userData.BirthDate">
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text"
                               name="Address"
                               class="form-control"
                               id="Address"
                               placeholder="Address"
                               ng-model="user.userData.Address">
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="tel"
                               name="Phone"
                               id="Phone"
                               placeholder="Phone"
                               class="form-control"
                               ng-model="user.userData.Contact">
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Email"
                               ng-model="user.userData.username"
                               required>
                        <span style="color:red"
                              ng-show="Myform.email.$touched && Myform.email.$invalid && Myform.email.$submitted">
                           The Email is required, please Enter correct EmailId.
                         </span>
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="password"
                               name="password"
                               maxlength="128"
                               id="password"
                               ng-model="user.userData.password"
                               class="form-control"
                               placeholder="Password" required>
                        <span style="color:red"
                              ng-show="MyformLogin.pass.$touched && MyformLogin.pass.$invalid && MyformLogin.pass.$submitted">
                          The Email is required.
                        </span>
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text"
                               class="form-control"
                               name="pass"
                               placeholder="Enter Password again"
                               ng-model="user.userData.password1"
                               minlength="6"
                               maxlength="12"
                               required>
                        <span style="color:red"
                              ng-show="Myform.pass.$touched && Myform.pass.$invalid && Myform.pass.$submitted">
                          The Password is required.
                        </span>
                        <span style="color:red" ng-show="user.psserr">
                          Password is not same, Please Enter the same password.
                        </span>
                    </div>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="file"
                               name="file"
                               class="form-control"
                               placeholder="selcet file"
                               id="file"
                               ng-model="user.userData.filename">
                    </div>

                    <div class="form-group col-sm-12 no-padding">
                        <!--<div class="capchabx">
                            <span class="msg-error error"></span>
                            <div class="g-recaptcha" data-sitekey="6LfUXYgUAAAAAGFJJNyXTqqrTd1-7eG1rWYQqqxk"
                                 data-callback="recaptchaCallback"></div>
                        </div>-->
                    </div>
                    <div ng-show="login.Invalid" class="alert alert-danger" role="alert">
                        Incorrect Password.
                    </div>
                    <div ng-show="login.InvalidUser" class="alert alert-danger" role="alert">
                        Incorrect Email Address or Password.
                    </div>

                    <div class="col-sm-12 no-padding text-center">
                        <div ng-show="user.signup" class="alert alert-success" role="alert">
                            Sign up Success Please <a href="/login" class="alert-link">Login Here</a>.
                        </div>
                        <a ng-hide="user.signup" class="text" href="/login">Login Here</a>

                        <button type="submit" class="btn">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4 newsletter-block center">
        <img src="app/view/pages/images/newsletter.png" alt="Cooking">
    </div>
</div>
    </div>
</section>
<section class="col-sm-12 col-md-12">
    <div style="padding: 20%">

    </div>
</section>


