<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Basic Page Needs
  ================================================== -->
    <title>India’s First Online Service To provides Chefs, Cooks and Catering | Hirecooks.com</title>
    <meta name="keywords"
          content="affordable cooking service, find a chef and catering service, cooking Jobs, chef jobs, indian cooks and chefs, best cooks and caterer in India, hire cook, hire chefs">
    <meta name="description"
          content="Hire Cooks  Provide personal chefs, cooks and offering affordable catering services for Wedding parties, corporate parties, Birthday Parties and other parties.">
    <meta name="author" content="">
    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- All Css -->
    <link rel="stylesheet" type="text/css" href="css/icofont.css" media="screen">
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/settings.css">
    <link href="css/jquery.bxslider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
</head>
<style>

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #ffa553;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(19px, 0);
        }
    }

</style>
<body>
<section class="sec_header">

    <!--Header-->
    <header>
        <nav class="navbar" data-spy="affix" data-offset-top="1" id="slide-nav">
            <div class="container">
                <div class="navbar-header col-sm-3 col-md-3 col-xs-12">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="home" ui-sref-active="active" class="menu-logo">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </div>
                <!--Nav links-->
                <div class="navbar-collapse col-sm-9 col-md-9" id="menu_nav">
                    <a href="#" class="closs"><i class="fa fal fa-times"></i></a>
                    <ul class="nav navbar-nav">
                        <li class="form-group">
                            <input type="search"
                                   class="input-round form-control"
                                   autocomplete="on" placeholder="Search"
                                   ng-model="searchText">
                        </li>
                        <li id="EnquiriesNav">
                            <a ng-click="FuncEnquires()"><i class="fa fas fa-home"></i>Enquiries</a>
                        </li>
                        <li id="EnquiryStatusNav">
                            <a ng-click="FuncWorkStatus()"><i class="fas fa-burn "></i>Enquiry Status</a>
                        </li>
                        <li id="ProfileNav">
                            <a ng-click="FuncProfile()"><i class="fas fa-compress"></i>Profile</a></li>
                        <li class="dropdown-submenu men ml-2">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Counsellor Portal <br>
                                <small>Last Login: {{userData.loginTime | date:'medium'}}</small>
                            </a>
                            <!--<i class="fa fas fa-chevron-right"></i></a>-->
                            <ul class="dropdown-menu drp-text-color">
                                <li class="dropdown-submenu men">
                                    <a class="btnPhoneno" ng-click="FuncProfile()"><i
                                            class="fas fa-user"></i>{{UserDetails.User.username}}
                                    </a>
                                </li>

                                <li class="dropdown-submenu men">
                                    <a class="btnPhoneno" ng-click="doLogout()" style="cursor:pointer"><i
                                            class="fas fa-sign-out-alt"></i>Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
</section>
<section class="sec_secviceContent" id="about-us-2" ng-show="isAssignEnquiries">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapseTwo">
                                    <span class="glyphicon"></span>
                                    Assigned Enquiries
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in"
                             style="height: 300px; overflow-y: scroll">
                            <div class="widget widget-sidebar widget-white">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select ng-model="sortEnquiryData"
                                                data-ng-change="sortEnquiry(sortEnquiryData)" style="cursor: pointer"
                                                class="form-control">
                                            <option value="">Select type</option>
                                            <option value=1>Consulting</option>
                                            <option value=2>Require Cooks/Chefs</option>
                                            <option value=3>Rent Our Kitchen</option>
                                            <option value=4>All</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <ul ng-repeat="data in getAssignApplications | filter:searchText | orderBy : sortDate(data.AssignDate) : true;"
                                    ng-if="data.enquiry.ApplicationStatus =='pending'">
                                    <li ng-if="data.enquiry.isAbandoned != true"
                                        class="cat-item cat-item-34" id="id{{$index}}">
                                        <span style="cursor: pointer" ng-click="SelectAssignApplication(data, $index)">
                                            <h5>{{data.enquiry.Name}}
                                                <p class="pull-right">
                                                    <small>{{data.AssignDate | date:'longDate'}}</small>
                                                </p>
                                            </h5>
                                            {{data.enquiry.RequireCookChefFor}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 about-left-img">
                <div class="about-block left">
                    <h4 ng-if="!NewEnquiryData">Please Check New Assinged Enquiries In Enquiry List</h4>
                    <h4 ng-if="NewEnquiryData">Enquiry Details </h4>

                    <table class="table table-hover table-borderless">
                        <tbody>
                        <tr>
                            <td>Date:</td>
                            <td>{{NewEnquiryData.enquiry.Date | date:'longDate'}}</td>

                            <td>ApplicationStatus:</td>
                            <td>{{NewEnquiryData.enquiry.ApplicationStatus}}</td>
                        </tr>
                        <tr>
                            <td> Name:</td>
                            <td>{{NewEnquiryData.enquiry.Name}}</td>
                            <td>Email</td>
                            <td>{{NewEnquiryData.enquiry.Email}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{NewEnquiryData.enquiry.RequireCookChefFor}}</td>
                            <td>Contact:</td>
                            <td>{{NewEnquiryData.enquiry.Contact}}</td>
                        </tr>
			<tr>
                            <td>Message:</td>
                            <td colspan="3">{{NewEnquiryData.enquiry.Comments}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<div ng-if="NewEnquiryData.enquiry.isAbandonedReject == true" class="alert alert-success" role="alert">-->
                    <!--Request has been sent to the admin for approval.-->
                    <!--</div>-->

                    <div class="chat-popup" id="myForm">
                        <form ng-submit="AddComments(NewEnquiryData.enquiry._id)" class="chat-form-container">
                            <label for="msg"><b>Follow Up Comments</b></label>
                            <!--<textarea id="msg" placeholder="Type message.." name="msg" required></textarea>-->
                            <div id="msg" class="chat-textarea">
                                <div class="chat-box3 sb14" ng-repeat="data in commentData"
                                     ng-if="data.commentsApplicationId == NewEnquiryData.enquiry._id"
                                     ng-hide="data.commentsRemark.Remark">
                                        <span>
                                            <small>{{data.commentsBy}}</small><br>
                                            {{data.commentsContent}}<br>
                                            <small><em>  {{data.commentsDate | date:'medium'}}</em></small>
                                        </span>
                                </div>
                            </div>
                            <input class="form-control input-lg" placeholder="Type comment.." type="text"
                                   ng-model="addCommentData.content" required>
                            <br>
                            <button type="submit" class="btn chat-open-btn">Save</button>
                            <button type="button" class="btn chat-cancel" ng-click="closeForm() || StopCommentSocket()">
                                Close
                            </button>
                        </form>
                    </div>

                    <div class="col-sm-12 no-padding text-center">
                        <button ng-hide="LoadingCCAF" type="submit" class="btn"
                                ng-click="ConvertForm(NewEnquiryData,1)">Convert
                        </button>
                        <!--ng-disabled="NewEnquiryData.enquiry.isAbandonedReject == true"-->
                        <button ng-hide="LoadingCCAF" type="submit" class="btn btn-primary"
                                ng-click="ConvertForm(NewEnquiryData,2)">abandon
                        </button>
                        <button ng-hide="LoadingCCAF" ng-if="NewEnquiryData" type="submit" class="btn"
                                ng-click="openForm(NewEnquiryData)">Follow Up
                        </button>
                        <div ng-show="LoadingCCAF" class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                    </div>
                    <div ng-if="selectCoun1" class="alert alert-danger col-md-6" role="alert">
                        please select Counsellor
                    </div>
                    <div ng-if="selectCoun2" class="alert alert-danger col-md-6" role="alert">
                        please select Enquiry
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-8" id="WorkStatus" ng-show="WorkStatus">
    <div ng-hide="isReassign" class="container-fluid">
            <div class="col-sm-12">
                <h3 class="text-left">Enquiry Status
                    <span class="dropdown men ml-2  pull-right">
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="fas fa-bell"></i><span class="badge badge-light">{{newAbandonRequest.length}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu men">
                                <button type="button" class="btn btn-primary" ng-click="checkNewAbandonRequest()"
                                        style="background-color: #004fff">
                                    New Abandon Request <span class="badge badge-light">{{newAbandonRequest.length}}</span>
                                </button>
                            </li>
                        </ul>
                    </span>
                </h3>
            </div>
            <div class="col-sm-12">
            <form name="sortForm" ng-submit="SortEnquiry()">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <select class="form-control work-status-select"
                                id="sortType"
                                name="selectSort"
                                ng-model="sortInWorkStatusEnquiryData.Type">
                            <option value=>Select type</option>
                            <option value=1>Consulting</option>
                            <option value=2>Require Cooks/Chefs</option>
                            <option value=3>Rent Our Kitchen</option>
                            <option value=4>All</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <select id="sortStatus" name="selectSort"
                                class="form-control work-status-select"
                                ng-model="sortInWorkStatusEnquiryData.Status">
                            <option value=''>Select Status</option>
                            <option value='pending'>pending</option>
                            <option value='converted'>converted</option>
                            <option value='abandoned'>abandoned</option>
                            <option value='All'>All</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-xs-10">
                        <div class="row pull-right">

                            <div class="col-sm-3 col-xs-4">

                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <button type="button" class="btn" ng-click="refreshSort()">
                                    <i class="fas fa-refresh"></i></button>
                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <button type="submit" class="btn">Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="col-sm-12">
                <br>
                <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Form Date</th>
                        <th>Assignment Date</th>
                        <th>Enquiry For</th>
                        <th>Counsellor Name</th>
                        <th> Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="data in getAssignApplications | filter:searchText | orderBy : sortDate(data.AssignDate) : true | pagination: curPage * pageSize | limitTo: pageSize"
                        ng-click="Reassigncounsellor(data)" style="cursor: pointer">
                        <td>{{$index + 1}}</td>
                        <td>{{data.enquiry.Name}}</td>
                        <td>{{data.enquiry.Date | date:'longDate'}}</td>
                        <td>{{data.AssignDate | date:'longDate'}}</td>
                        <td>{{data.enquiry.RequireCookChefFor}}</td>
                        <td>{{data.CounsellorName}}</td>
                        <td ng-if="data.enquiry.ApplicationStatus =='pending'" style="color: #ff0700;">
                            {{data.enquiry.ApplicationStatus}}
                        </td>
                        <td ng-if="data.enquiry.ApplicationStatus =='converted'" style="color: #00d939;">
                            {{data.enquiry.ApplicationStatus}}
                        </td>
                        <td ng-if="data.enquiry.ApplicationStatus =='abandoned'" style="color: rgba(8,4,0,0.46);">
                            {{data.enquiry.ApplicationStatus}}
                            <span ng-if="data.enquiry.isAbandoned == true" class="badge badge-danger">?</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="col-sm-12">
                <br>
            <div class="row">
                <div class="col-sm-1 col-xs-4">
                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                            ng-click="curPage=curPage-1"> &lt; PREV
                    </button>
                </div>
                <div class="col-sm-1 col-xs-4" style="border: 1px solid #ffc081;padding: 10px;">
                    <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                </div>
                <div class="col-sm-1 col-xs-4">
                    <button type="button" class="btn btn-primary"
                            ng-disabled="curPage >= datalists.length/pageSize - 1"
                            ng-click="curPage = curPage+1">NEXT &gt;
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isReassign" class="container">
        <br>
        <br>
        <h3 class="text-left">Enquiry Status
            <button class="btn pull-right" ng-click="isReassign=false;closeForm1()" style="float: right">Back</button>
        </h3>
        <br>
            <div class="table-responsive col-sm-10">
            <table class="table table-hover table-bordered text-left">
                <tbody>
                <tr>
                    <th>ApplicationStatus:</th>
                    <td>{{ReassignData.enquiry.ApplicationStatus}}</td>
                    <th>Date:</th>
                    <td>{{ReassignData.enquiry.Date | date:'longDate'}}</td>
                </tr>
                <tr>
                    <th> Name:</th>
                    <td>{{ReassignData.enquiry.Name}}</td>
                    <td colspan="2">{{ReassignData.enquiry.RequireCookChefFor}}</td>
                </tr>
                <tr>
                    <th>Contact:</th>
                    <td>{{ReassignData.enquiry.Contact}}</td>
                    <th>Email</th>
                    <td>{{ReassignData.enquiry.Email}}</td>
                </tr>
		        <tr>
                  <td>Message:</td>
                     <td colspan="3">{{ReassignData.enquiry.Comments}}</td>
                 </tr>
                <tr ng-if="!ReassignData.enquiry.isAbandoned == true">
                    <th>Assigned Counsellor:</th>
                    <td>{{ReassignData.CounsellorName}}</td>
                    <th>Closing Remark</th>
                    <td>
                        <div class="row" ng-repeat="data in ClosingRemark" ng-if="data.commentsRemark.Remark">
                            <div class="col-md-12 text-success"> {{data.commentsRemark.Remark}}</div>
                            <div class="col-md-6 text-muted">Remark By: {{data.commentsRemark.RemarkBy}}</div>
                            <div class="col-md-6 text-muted small"> {{data.commentsDate | date:'longDate'}}</div>
                        </div>
                    </td>
                </tr>
                <div ng-if="ReassignData.enquiry.isAbandoned == true" class="alert alert-success" role="alert">
                    Request has been sent to the admin for approval.
                </div>
                </tbody>
            </table>
            </div>
            <div class="col-sm-12 no-padding text-center">
                <div class="form-group col-sm-6 no-padding">
                    <button type="submit" class="btn"
                            ng-click="openForm1(ReassignData)">Follow Up
                    </button>
                    <br>
                </div>
            </div>
        <div class="chat-popup" id="myForm1">
            <form ng-submit="AddComments(ReassignData.enquiry._id)" class="chat-form-container">
                <label for="msg"><b>Follow Up Comments</b></label>
                <!--<textarea id="msg" placeholder="Type message.." name="msg" required></textarea>-->
                <div id="msg" class="chat-textarea">
                    <div class="chat-box3 sb14" ng-repeat="data in commentData"
                         ng-if="data.commentsApplicationId == ReassignData.enquiry._id"
                         ng-hide="data.commentsRemark.Remark">
                                        <span>
                                            <small>{{data.commentsBy}}</small><br>
                                            {{data.commentsContent}}<br>
                                            <small><em>  {{data.commentsDate | date:'medium'}}</em></small>
                                        </span>
                    </div>

                </div>
                <input class="form-control input-lg" placeholder="Type comment.." type="text"
                       ng-model="addCommentData.content" required>
                <br>
                <button type="submit" class="btn chat-open-btn">Save</button>
                <button type="button" class="btn chat-cancel" ng-click="closeForm1()">
                    Close
                </button>
            </form>
        </div>

    </div>
</section>
<section class="sec_secviceContent" id="about-us-2" ng-show="isProfile">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapseTwo11">
                                    <span class="glyphicon"></span>
                                    Menu
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo11" class="panel-collapse collapse in">
                            <div class="widget widget-sidebar widget-white">
                                <ul>
                                    <li class="cat-item cat-item-34"
                                        ng-click="ChangeTabInProfile('MyProfile')">
                                        <a> My Profile</a>
                                    </li>
                                    <li class="cat-item cat-item-34"
                                        ng-click="ChangeTabInProfile('MyPassword')">
                                        <a> Change Password</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 about-left-img">
                <div class="about-block left">
                    <div ng-hide="isViewMyProfile" class="container col-lg-12 col-sm-12 col-md-12">
                        <div ng-hide="isEditDiv" class="row">
                            <div class="col-sm-6">
                                <h4>Profile Details</h4>
                            </div>

                            <div class="col-sm-6">
                                <i class="fas fa-edit pull-right" ng-click="isEditDiv=true" style="cursor: pointer"></i>
                                <br>
                            </div>

                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Name:</th>
                                        <td>{{UserDetails.User.Name}}</td>

                                    </tr>
                                    <tr>
                                        <th>Email:</th>
                                        <td>{{UserDetails.User.Email}}</td>

                                    </tr>
                                    <tr>
                                        <th>Address:</th>
                                        <td>{{UserDetails.User.Address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Landmark:</th>
                                        <td>{{UserDetails.User.Landmark}}</td>
                                    </tr>
                                    <tr>
                                        <th>Pin:</th>
                                        <td>{{UserDetails.User.Pin}}</td>
                                    </tr>
                                    <tr>
                                        <th>username:</th>
                                        <td>{{UserDetails.User.username}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact:</th>
                                        <td>{{UserDetails.User.Contact}}</td>
                                    </tr>
                                    <tr>
                                        <th>join Date:</th>
                                        <td>{{UserDetails.User.Date | date:'longDate'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Assign:</th>
                                        <td>{{UserDetails.User.AssignApplications}}</td>
                                    </tr>
                                    <tr>
                                        <th>Completed:</th>
                                        <td>{{UserDetails.User.completedApplications}}</td>
                                    </tr>
                                    <tr>
                                        <th>Pending:</th>
                                        <td>{{UserDetails.User.PendingApplications}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="isEditDiv" class="row">
                            <div class="col-sm-6">
                                <h4>Counsellor Edit</h4>
                            </div>
                            <div class="col-sm-6">
                                <i class="fas fa-arrow-alt-circle-left pull-right"
                                   ng-click="isEditDiv=false"
                                   data-toggle="tooltip" title="Go Back!"
                                   style="cursor: pointer;"></i><br>
                            </div>


                            <div class="col-sm-12">
                                <form name="UserDetailsUserForm" ng-submit="UpdateCounsellorInfo()">
                                    <table class="table table-hover table-bordered">
                                        <tbody>
                                        <tr>
                                            <th>Name:</th>
                                            <td>
                                                <input type="text"
                                                       name="name"
                                                       class="form-control"
                                                       id="CounsellorViewDataName"
                                                       maxlength="255"
                                                       min="1"
                                                       placeholder="Enter Name"
                                                       ng-model="UserDetails.User.Name"
                                                       required>
                                                <span style="color:red"
                                                      ng-show="UserDetailsUserForm.Name.$touched && UserDetailsUserForm.Name.$invalid && UserDetailsUserForm.Name.$submitted">
                                                    The Name is required.
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td>
                                                <input type="email"
                                                       name="Email"
                                                       class="form-control"
                                                       id="CounsellorViewDataEmail"
                                                       maxlength="255"
                                                       min="1"
                                                       placeholder="Enter Email"
                                                       ng-model="UserDetails.User.Email"
                                                       required>
                                                <span style="color:red"
                                                      ng-show="UserDetailsUserForm.Email.$touched && UserDetailsUserForm.Email.$invalid && UserDetailsUserForm.Email.$submitted">
                                                    The Email is required.
                                                </span>
                                                <span ng-show="isInvalidEmail" style="color:red">
                                                    Email Is Invalid
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Address:</th>
                                            <td>
                                                <input type="text"
                                                       name="Address"
                                                       class="form-control"
                                                       id="CounsellorViewDataAddress"
                                                       maxlength="255"
                                                       min="1"
                                                       placeholder="Enter Address"
                                                       ng-model="UserDetails.User.Address"
                                                       required>
                                                <span style="color:red"
                                                      ng-show="UserDetailsUserForm.Address.$touched && UserDetailsUserForm.Address.$invalid && UserDetailsUserForm.Address.$submitted">
                                                    The Address is required.
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Landmark:</th>
                                            <td>
                                                <input type="text"
                                                       name="Landmark"
                                                       class="form-control"
                                                       id="CounsellorViewDataLandmark"
                                                       maxlength="255"
                                                       min="1"
                                                       placeholder="Enter Address"
                                                       ng-model="UserDetails.User.Landmark"
                                                >
                                                <!--<span style="color:red"-->
                                                <!--ng-show="CounsellorViewDataForm.Landmark.$touched && CounsellorViewDataForm.Landmark.$invalid && CounsellorViewDataForm.Landmark.$submitted">-->
                                                <!--The Landmark is required.-->
                                                <!--</span>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Pin:</th>
                                            <td>
                                                <input type="text"
                                                       name="Pin"
                                                       class="form-control"
                                                       id="CounsellorViewDataPin"
                                                       maxlength="8"
                                                       min="6"
                                                       placeholder="Enter Pin"
                                                       ng-model="UserDetails.User.Pin">
                                                <!--<span style="color:red"-->
                                                <!--ng-show="CounsellorViewDataForm.Pin.$touched && CounsellorViewDataForm.Pin.$invalid && CounsellorViewDataForm.Pin.$submitted">-->
                                                <!--The Pin is required.-->
                                                <!--</span>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>username:</th>
                                            <td>{{UserDetails.User.username}}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact:</th>
                                            <td>
                                                <input type="tel"
                                                       name="Contact"
                                                       class="form-control"
                                                       id="CounsellorViewDataPhone"
                                                       maxlength="12"
                                                       min="10"
                                                       placeholder="Enter Phone"
                                                       ng-model="UserDetails.User.Contact"
                                                       required>
                                                <span style="color:red"
                                                      ng-show="CounsellorViewDataForm.Contact.$touched && CounsellorViewDataForm.Contact.$invalid && CounsellorViewDataForm.Contact.$submitted">
                                                    The Contact is required.
                                                </span>
                                            </td>
                                        </tr>
                                        <!--<tr>-->
                                        <!--<th>BirthDate:</th>-->
                                        <!--<td>{{CounsellorViewData.BirthDate}}</td>-->
                                        <!--</tr>-->
                                        <tr>
                                            <th>join Date:</th>
                                            <td>{{UserDetails.User.Date | date:'longDate'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Assign:</th>
                                            <td>{{UserDetails.User.AssignApplications}}</td>
                                        </tr>
                                        <tr>
                                            <th>Completed:</th>
                                            <td>{{UserDetails.User.completedApplications}}</td>
                                        </tr>
                                        <tr>
                                            <th>Pending:</th>
                                            <td>{{UserDetails.User.PendingApplications}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-8">
                                        <button ng-hide="LoadingUCI" style="float: right; margin-bottom: 10px;"
                                                type="submit" class="btn btn-lg">Submit
                                        </button>
                                        <div ng-show="LoadingUCI" class="lds-ellipsis">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ischangePassword" class="container col-lg-12 col-sm-12 col-md-12">
                        <div ng-show="PassChanged" class="alert alert-success" role="alert">
                            Password Changed successfully.
                        </div>


                        <div ng-hide="PassChanged" class="card">
                            <h3 class="text-center"> Change Password</h3>

                            <form name="resetpassform" ng-submit="setNewPassword()">

                                <div class="form-group col-md-8">
                                    <label> old password </label>
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           id="password"
                                           maxlength="200"
                                           placeholder="Enter old password"
                                           ng-model="resetPassData.password"
                                           required>
                                    <span style="color:red"
                                          ng-show="resetpassform.password.$touched && resetpassform.password.$invalid">
                                        old password is required.
                                    </span>
                                    <span style="color:red" ng-show="PassInvalid">Please Enter Correct password.</span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label> New Password </label>
                                    <input type="password"
                                           name="newPassword"
                                           class="form-control"
                                           id="newPassword"
                                           maxlength="200"
                                           placeholder="Enter new password"
                                           ng-model="resetPassData.newPassword"
                                           required>
                                    <span style="color:red"
                                          ng-show="resetpassform.newPassword.$touched && resetpassform.newPassword.$invalid">
                                        New Password is required.
                                    </span>
                                    <span style="color:red" ng-show="PassAlredyInUse">Password is already in use.</span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Enter new password
                                        Again</label>
                                    <input type="text"
                                           name="againPassword"
                                           class="form-control"
                                           id="againPassword"
                                           maxlength="200"
                                           placeholder="Enter password again"
                                           ng-model="resetPassData.againPassword"
                                           required>
                                    <span style="color:red"
                                          ng-show="resetpassform.againPassword.$touched && resetpassform.againPassword.$invalid">
                                        New Password is required.
                                    </span>
                                    <span style="color:red"
                                          ng-show="NotMatch">
                                                             password not matched, Please check password.
                                                         </span>

                                </div>
                                <br>
                                <div class="row col-md-8" style="display: inline">

                                    <div>
                                        <button style="float: left; margin-bottom: auto" type="reset"
                                                class="btn w3-theme-d3 ">CANCEL
                                        </button>
                                    </div>
                                    <div id="submitbutton1">
                                        <button ng-hide="LoadingCPC" style="float: right;  margin-bottom: auto"
                                                type="submit"
                                                class="btn w3-theme-d3">SUBMIT
                                        </button>
                                        <div ng-show="LoadingCPC" class="lds-ellipsis">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div ng-hide="show" class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter Remark </label>
                    <textarea ng-click="pleaseSelectRemark = false;" class="form-control-sm"
                              ng-model="commentsRemark.Remark" id="exampleFormControlTextarea1" maxlength="230"
                              minlength="10" rows="1" required>
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <h6 style="color: red" ng-show="pleaseSelectRemark" class="pull-left">Please Enter remark min 10
                    character </h6>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="LoadingCCAF=false;">
                    Close
                </button>
                <button ng-if="ConvertBtn == true" type="button" class="btn btn-primary"
                        ng-click="ConvertEnq(NewEnquiryData,1 ,commentsRemark.Remark)">continue
                </button>
                <button ng-if="abondonBtn == true" type="button" class="btn btn-primary"
                        ng-click="ConvertEnq(NewEnquiryData,2 ,commentsRemark.Remark)">continue
                </button>
            </div>
        </div>
        <div ng-show="show" class="alert" role="alert"
             style="background-color: rgba(255,255,255,0.86);border: 2px solid orangered; color: black">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="show = false;">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <h4> {{SuccessMessgage}}</h4>
        </div>
    </div>
</div>
<div class="modal fade" id="ShowMessgae" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="alert" role="alert"
                 style="background-color: rgba(255,255,255,0.86);border: 2px solid orangered; color: black">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
                <h4> {{SuccessMessgage}}</h4>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/appear.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="js/jquery.bxslider.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider_content').bxSlider({
            mode: 'fade',
            auto: true,
            autoControl: true,
            speed: 10
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('ul.nav li.dropdown-submenu').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(50);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(50);
        });
    });
</script>
</body>

</html>
