<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Basic Page Needs
  ================================================== -->
    <title>India’s First Online Service To provides Chefs, Cooks and Catering | Hirecooks.com</title>
    <meta name="keywords"
          content="affordable cooking service, find a chef and catering service, cooking Jobs, chef jobs, indian cooks and chefs, best cooks and caterer in India, hire cook, hire chefs">
    <meta name="description"
          content="Hire Cooks  Provide personal chefs, cooks and offering affordable catering services for Wedding parties, corporate parties, Birthday Parties and other parties.">
    <meta name="author" content="">
    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- All Css -->
    <link rel="stylesheet" type="text/css" href="css/icofont.css" media="screen">
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/settings.css">
    <link href="css/jquery.bxslider.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">

</head>
<style>

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #ffa553;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(19px, 0);
        }
    }

    .select-null {
        height: 50%;
        line-height: 80%;
        padding: 2px;
    }


  /*  @media only screen and (min-width: 1200px) {
        .work-status-table-height{
            height:410px;
            overflow-y: inherit
        }
        .work-status-select{
            cursor: pointer;
            height: 100%;
            padding: 10px;
        }
    }
    @media only screen and (max-width: 600px) {
        .work-status-select{
            cursor: pointer;
            height: 40%;
            padding-left: 100%;
            margin-bottom: 2px;
        }
        .mb-btn-2{
            margin-bottom: 2px;
        }
        .drp-text-color{
            background-color: red;
            color: black;
        }


    }
    @media only screen and (min-width: 600px) {
        .work-status-select{
        cursor: pointer;
        height: 40%;
        padding-left: 100%;
        margin-bottom: 2px;
        }
        .mb-btn-2{
            margin-bottom: 2px;
        }
        .drp-text-color{
            background-color: red;
            color: black;
        }

    }
*/


</style>
<body class="body-innerwrapper">


<section class="sec_header">
    <!--Header-->
    <header>
        <nav class="navbar" data-spy="affix" data-offset-top="1" id="slide-nav">
            <div class="container">
                <div class="navbar-header col-sm-3 col-md-3 col-xs-12">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="home" ui-sref-active="active" ng-click="doLogout()" class="menu-logo"><img
                            src="images/logo.png" alt="logo">
                    </a>
                </div>

                <!--Nav links-->
                <div class="navbar-collapse col-sm-9 col-md-9" id="menu_nav">
                    <a href="#" class="closs"><i class="fa fal fa-times"></i></a>
                    <ul class="nav navbar-nav">
                        <li class="form-group">
                            <input type="search"
                                   class="input-round form-control"
                                   autocomplete="on" placeholder="Search"
                                   ng-model="searchText">
                        </li>
                        <li id="EnquiriesNav">
                            <a ng-click="FuncEnquires()" data-toggle="collapse" data-target=".nav-collapse"><i class="fa fas fa-home"></i>Enquiries</a>
                        </li>
                        <!-- <li id="DashboardNav">
                             <a ng-click="FuncDashboard()"><i class="fas fa-burn"></i>Dashboard</a>
                         </li>-->
                        <li id="EnquiryStatusNav">
                            <a ng-click="FuncWorkStatus()" data-toggle="collapse" data-target=".nav-collapse">
                                <i class="fas fa-burn"></i>Enquiry Status
                            </a>
                        </li>
                        <li id="ProfileNav">
                            <a ng-click="FuncProfile()" data-toggle="collapse" data-target=".nav-collapse">
                                <i class="fas fa-compress"></i>Profile
                            </a>
                        </li>
                        <li class="dropdown-submenu men ml-2">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Admin Portal<br>
                                <small>Last Login: {{UserDetails.login.loginTime | date:'medium'}}</small>
                            </a>
                            <ul class="dropdown-menu drp-text-color">
                                <li class="dropdown-submenu men">
                                    <a class="btnPhoneno" ng-click="FuncProfile()"><i
                                            class="fas fa-user"></i>{{UserDetails.User.username}}
                                    </a>
                                </li>
                                <li class="dropdown-submenu men">
                                    <a class="btnPhoneno" ng-click="doLogout()" style="cursor:pointer"><i
                                            class="fas fa-sign-out-alt"></i>Logout</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
</section>
<section class="sec_secviceContent" id="about-us-2" ng-show="AssignEnquiries">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapseTwo1">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    Enquiry inbox
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse in">
                            <div class="widget widget-sidebar widget-white" style="height: 300px; overflow-y: scroll">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-model="sortEnquiryData"
                                                data-ng-change="sortEnquiry(sortEnquiryData)" style="cursor: pointer">
                                            <option value="">Select type</option>
                                            <option value=1>Consulting</option>
                                            <option value=2>Require Cooks/Chefs</option>
                                            <option value=3>Rent Our Kitchen</option>
                                            <option value=4>All</option>
                                        </select>
                                    </div>
                                </div>
                                <ul ng-repeat="data in EnquiryList  | filter:searchText | orderBy : sortDate(data.Date) : true track by $index">
                                    <li class="cat-item cat-item-34" id="id{{$index}}">
                                        <div class="clearfix">
                                            <span class="float-left">
                                                 <span style="color: #4c5657">{{data.Name}}</span>
                                                 <span style="color: #7f8c8d" class="pull-right">{{data.Date | date:'longDate'}}</span><br>
                                                 <input type="checkbox" id="myCheck" name="myCheck"
                                                        class="form-check-input pull-right"
                                                        ng-click="SelectNewEnquiryMultiple(data)"
                                                        style="cursor: pointer">
                                                 <a style="color: black;cursor: pointer"
                                                    ng-click="SelectNewEnquiry(data,$index)">{{data.RequireCookChefFor}}</a>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-8 about-left-img">
                <div ng-hide="isMultiple" class="about-block left">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 ng-if="!NewEnquiryData">Please Check New Enquiries in inbox</h4>
                            <h4 ng-if="NewEnquiryData.Date">Enquiry Details</h4>
                        </div>
                        <div class="col-sm-6">
                            <i ng-if="NewEnquiryData.Date" class="fas fa-trash-alt pull-right"
                               ng-click="OpenModelFor('enquiry')"
                               style="cursor: pointer"></i>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered ">
                        <tbody>
                        <tr>
                            <td>Date:</td>
                            <td>{{NewEnquiryData.Date | date:'longDate'}}</td>
                            <td colspan="2">{{NewEnquiryData.RequireCookChefFor}}</td>
                        </tr>
                        <tr>
                            <td> Name:</td>
                            <td>{{NewEnquiryData.Name}}</td>
                            <td>ApplicationStatus:</td>
                            <td>{{NewEnquiryData.ApplicationStatus}}</td>

                        </tr>
                        <tr>
                            <td>Contact:</td>
                            <td>{{NewEnquiryData.Contact}}</td>
                            <td>Email</td>
                            <td>{{NewEnquiryData.Email}}</td>
                        </tr>
			            <tr>
                            <td>Message:</td>
                            <td colspan="3">{{NewEnquiryData.Comments}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-sm-12 no-padding text-center">
                        <div class="form-group col-sm-6 no-padding">
                            <select ng-model="selectCounsellorData.CounsellorId" style="cursor: pointer"
                                    class="form-control pb-2">
                                <option value="">Select Counsellor</option>
                                <option ng-repeat="data in CounsellorsList"
                                        ng-if="data.isActive == true" value={{data._id}}>{{data.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div ng-show="LoadingAAC" class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <button ng-hide="LoadingAAC" type="submit" class="btn"
                                    ng-click="assignApplicationsToCounsellor(NewEnquiryData,CounsellorData)">Submit
                            </button>
                        </div>

                    </div>
                </div>
                <div ng-show="isMultiple" class="about-block left">
                    <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <tbody>
                        <tr ng-repeat="multiEnquiry in NewEnquiryMultipleData track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{multiEnquiry.RequireCookChefFor}}</td>
                            <td>Date:</td>
                            <td>{{multiEnquiry.Date | date:'longDate'}}</td>
                            <td> Name:</td>
                            <td>{{multiEnquiry.Name}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-sm-12 no-padding text-center">
                        <div class="form-group col-sm-6 no-padding">
                            <select ng-model="selectCounsellorData.CounsellorId" style="cursor: pointer"
                                    class="form-control">
                                <option value="">Select Counsellor</option>
                                <option ng-repeat="data in CounsellorsList"
                                        ng-if="data.isActive == true" value={{data._id}}>{{data.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div ng-show="LoadingAAC" class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <button ng-hide="LoadingAAC" type="submit" class="btn"
                                    ng-click="assignMultiApplicationsToCounsellor()">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-8" id="WorkStatus" ng-show="WorkStatus">
    <div ng-hide="isReassign" class="container-fluid">
        <div class="col-sm-12">
            <h3 class="text-left">Enquiry Status
                <span class="dropdown men ml-2  pull-right">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="fas fa-bell"></i><span class="badge badge-light">{{newAbandonRequest.length}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu men">
                            <button type="button" class="btn btn-primary" ng-click="checkNewAbandonRequest()"
                                    style="background-color: #004fff">
                                New Abandon Request <span class="badge badge-light">{{newAbandonRequest.length}}</span>
                            </button>
                        </li>
                    </ul>
                </span>
            </h3>
        </div>
        <div class=" col-sm-12">
            <form name="sortForm" ng-submit="SortEnquiry()">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <select class="form-control work-status-select col-xs-12"
                                ng-model="sortInWorkStatusEnquiryData.Type">
                            <option value=>Select type</option>
                            <option value=1>Consulting</option>
                            <option value=2>Require Cooks/Chefs</option>
                            <option value=3>Rent Our Kitchen</option>
                            <option value=4>All</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <select class="form-control work-status-select col-xs-12"
                                ng-model="sortInWorkStatusEnquiryData.Counsellor">
                            <option value=''>Select Counsellor</option>
                            <option ng-repeat="data in CounsellorsList"
                                    ng-if="data.isActive == true" value={{data._id}}>{{data.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <select id="status"
                                class="form-control work-status-select col-xs-12"
                                ng-model="sortInWorkStatusEnquiryData.Status">
                            <option value=''>Select Status</option>
                            <option value='pending'>pending</option>
                            <option value='converted'>converted</option>
                            <option value='abandoned'>abandoned</option>
                            <option value='All'>All</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-xs-10">
                        <div class="row pull-right">

                            <div class="col-sm-3 col-xs-4">
                                <!-- <button type="button" class="btn"
                                         ng-click="DeletedEnquiries()"><i
                                         class="fas fa-unlink"></i>
                                 </button>-->
                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <button type="button" class="btn"
                                        ng-click="refreshSort()"><i
                                        class="fas fa-refresh"></i>
                                </button>
                            </div>
                            <div class="col-sm-3 col-xs-4">
                                <button type="submit" class="btn">Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <br>
            <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Enquiry Date</th>
                    <th>Assigned Date</th>
                    <th>Enquiry For</th>
                    <th>Counsellor Name</th>
                    <th> Status

                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="data in getAssignApplications | filter:searchText   | orderBy : sortDate(data.enquiry.Date): true | pagination: curPage * pageSize | limitTo: pageSize"
                    ng-click="Reassigncounsellor(data)" style="cursor: pointer">
                    <td>{{$index + 1}}</td>
                    <td>{{data.enquiry.Name}}</td>
                    <td>{{data.enquiry.Date | date:'longDate'}}</td>
                    <td>{{data.AssignDate | date:'longDate'}}</td>
                    <td>{{data.enquiry.RequireCookChefFor}}</td>
                    <td>{{data.CounsellorName}}</td>
                    <td ng-if="data.enquiry.ApplicationStatus =='pending'" style="color: #ff0700;">
                        {{data.enquiry.ApplicationStatus}}
                        <span ng-if="data.enquiry.isAbandoned == true" class="badge badge-danger">?</span>
                    </td>
                    <td ng-if="data.enquiry.ApplicationStatus =='converted'" style="color: #00d939;">
                        {{data.enquiry.ApplicationStatus}}
                    </td>
                    <td ng-if="data.enquiry.ApplicationStatus =='abandoned'" style="color: rgba(8,4,0,0.46);">
                        {{data.enquiry.ApplicationStatus}}
                        <span ng-if="data.enquiry.isAbandoned == true" class="badge badge-danger">?</span>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1 col-xs-4">
                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                            ng-click="curPage=curPage-1"> &lt; PREV
                    </button>
                </div>
                <div class="col-sm-1 col-xs-4" style="border: 1px solid #ffc081;padding: 10px;">
                    <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                </div>
                <div class="col-sm-1 col-xs-4">
                    <button type="button" class="btn btn-primary"
                            ng-disabled="curPage >= datalists.length/pageSize - 1"
                            ng-click="curPage = curPage+1">NEXT &gt;
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isReassign" class="container ">
        <br>
        <br>
        <br>
        <div class="row about-block">
            <div class="col-sm-10">
                <h3 class="text-left">Enquiry Status
                </h3>
            </div>
            <div class="col-sm-2">
                <button class="btn pull-right"
                        ng-click="isReassign=false;closeForm()"
                        style="float: right">Back
                </button>
            </div>
        </div>
        <br>
        <div class="col-md-10 about-block left">
            <div class="table-responsive col-sm-10">
            <table class="table table-hover table-bordered text-left">
                <tbody>
                <tr>
                    <th>ApplicationStatus:</th>
                    <td>{{ReassignData.enquiry.ApplicationStatus}}</td>
                    <th>Date:</th>
                    <td>{{ReassignData.enquiry.Date | date:'longDate'}}</td>
                </tr>
                <tr>
                    <th> Name:</th>
                    <td>{{ReassignData.enquiry.Name}}</td>
                    <td colspan="2">{{ReassignData.enquiry.RequireCookChefFor}}</td>
                </tr>
                <tr>
                    <th>Contact:</th>
                    <td>{{ReassignData.enquiry.Contact}}</td>
                    <th>Email</th>
                    <td>{{ReassignData.enquiry.Email}}</td>
                </tr>
		        <tr>
                    <td>Message:</td>
                    <td colspan="3">{{ReassignData.enquiry.Comments}}</td>
                </tr>
                <tr>
                    <th>Assigned Counsellor:</th>
                    <td>{{ReassignData.CounsellorName}}</td>
                    <th>Closing Remark</th>
                    <td>
                        <div class="row" ng-repeat="data in ClosingRemark" ng-if="data.commentsRemark.Remark">
                            <div class="col-md-12 text-success"> {{data.commentsRemark.Remark}}</div>
                            <div class="col-md-6 text-muted">Remark By: {{data.commentsRemark.RemarkBy}}</div>
                            <div class="col-md-6 text-muted small"> {{data.commentsDate | date:'longDate'}}</div>
                            <br>
                        </div>
                    </td>
                </tr>
                <div ng-if="ReassignData.enquiry.isAbandoned == true" class="alert alert-success" role="alert">
                    Counsellor needs Approval to Abandon by Enquiry admin.
                    <button ng-hide="LoadingGRA" class="btn- btn-link"
                            style="background-color: transparent; color: black"
                            ng-click="giveApproval()">Give Approval
                    </button>
                    <button ng-hide="LoadingGRA" class="btn- btn-link"
                            style="background-color: transparent; color: red"
                            ng-click="rejectApproval()">Reject
                    </button>
                    <div ng-show="LoadingGRA" class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                </tbody>
            </table>
            </div>
            <div class="col-sm-12 no-padding text-center">
                <div class="form-group col-sm-6 no-padding"
                     ng-if="ReassignData.enquiry.ApplicationStatus != 'converted'">
                    <select ng-model="selectCounsellorData.CounsellorId" class="form-control" style="cursor: pointer"
                            required>
                        <option value="">Select Counsellor</option>
                        <option ng-repeat="clist in CounsellorsList" ng-if="clist.isActive == true" value={{clist._id}}>
                            {{clist.Name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-6 no-padding">
                    <button ng-hide="LoadingWUFAD" type="submit" class="btn mb-btn-2"
                            ng-if="ReassignData.enquiry.ApplicationStatus != 'converted'"
                            ng-click="updateAssignApplicationsToCounsellor(ReassignData)">Re-Assign
                    </button>
                    <button ng-hide="LoadingWUFAD" type="submit" class="btn mb-btn-2"
                            ng-click="openForm()">Follow Up
                    </button>
                    <button ng-hide="LoadingWUFAD || ReassignData.enquiry.isAbandoned"
                            ng-if="ReassignData.enquiry.ApplicationStatus == 'pending'" class="btn mb-btn-2"
                            ng-click="OpenModelFor('abandon')">Abandon
                    </button>
                    <button ng-hide="LoadingWUFAD || ReassignData.enquiry.isAbandoned" class="btn mb-btn-2"
                            ng-click="OpenModelFor('enquiryOne')"><i class="fas fa-trash-alt"></i>
                    </button>
                    <div ng-show="LoadingWUFAD" class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="chat-popup" id="myForm">
            <form ng-submit="AddComments(ReassignData.enquiry._id)" class="chat-form-container">
                <label for="msg"><b>Follow Up Comments</b></label>
                <!--<textarea id="msg" placeholder="Type message.." name="msg" required></textarea>-->
                <div id="msg" class="chat-textarea">
                    <div class="chat-box3 sb14" ng-repeat="data in commentData" ng-hide="data.commentsRemark.Remark"
                         ng-if="data.commentsApplicationId == ReassignData.enquiry._id">
                        <span><small>{{data.commentsBy}}</small><br>
                            {{data.commentsContent}}<br>
                            <small><em>  {{data.commentsDate | date:'medium'}}</em></small>
                        </span>
                    </div>
                </div>
                <input class="form-control input-lg"
                       placeholder="Type comment.." type="text"
                       ng-model="addCommentData.content"
                       required>
                <br>
                <button type="submit" class="btn chat-open-btn">Save</button>
                <button type="button" class="btn chat-cancel" ng-click="closeForm()">
                    Close
                </button>
            </form>
        </div>
    </div>
</section>
<section class="sec_secviceContent" id="about-us-2" ng-show="EnquiryForms">
    <div class="container">
        <div class="row">
            <h3 class="text-left">Converted Enquiry form</h3>

            <div class="col-md-4 sidebar">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo12">
                                    <span class="glyphicon"></span>
                                    Converted List
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo12" class="panel-collapse collapse in">
                            <div class="widget widget-sidebar widget-white">
                                <ul ng-repeat="data in getAssignApplications track by $index"
                                    ng-if="data.enquiry.ApplicationStatus == 'converted'">
                                    <li class="cat-item cat-item-34" ng-click="ConvertedEnquires(data)">
                                        <a><br><span
                                                class="text">ApplicationNo: {{data.enquiry.ApplicationNo}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 about-left-img ">
                <div class="about-block left">
                    <div class="table-responsive">
                    <table class="table table-hover table-borderless">
                        <tbody>
                        <tr>
                            <td>ApplicationNo</td>
                            <td>{{ConvertedEnquiresData.enquiry.ApplicationNo}}</td>
                            <td>Date:</td>
                            <td>{{ConvertedEnquiresData.enquiry.Date | date:'longDate'}}</td>
                        </tr>
                        <tr>
                            <td>ApplicationStatus:</td>
                            <td>{{ConvertedEnquiresData.enquiry.ApplicationStatus}}</td>

                            <td colspan="2">{{NewEnquiryData.enquiry.RequireCookChefFor}}</td>
                        </tr>
                        <tr>
                            <td> Name:</td>
                            <td>{{ConvertedEnquiresData.enquiry.Name}}</td>
                            <td>Email</td>
                            <td>{{ConvertedEnquiresData.enquiry.Email}}</td>
                        </tr>
                        <tr>
                            <td>Contact:</td>
                            <td>{{ConvertedEnquiresData.enquiry.Contact}}</td>

                        </tr>
                        <tr>
                            <td>Comments:</td>
                            <td>
                                <div class="box33 sb14" ng-repeat="data in commentData"
                                     ng-if="data.commentsApplicationId == ConvertedEnquiresData.enquiry._id">
                                    <div class="alert alert-info" role="alert">
                                        <span> {{data.commentsContent}}</span>.
                                        <span style="font-size: small">
                                    <small><em>  {{data.commentsDate | date:'medium'}}</em></small>
                                    </span>
                                    </div>
                                    <br>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec_secviceContent" id="DashBoard" ng-show="Dashboard">
    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-4">
                 <div class="card" style="background-color:#717ef4 ">
                     <div class="card-body"><br>
                         <h4 class="text-center bdg-border">Converted
                             <span class="badge badge-pill badge-light">{{CountList.converted}}</span>
                         </h4><br>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="card" style="background-color: #F9B54C">
                     <div class="card-body"><br>
                         <h4 class="text-center bdg-border">pending
                             <span class="badge badge-pill badge-light">{{CountList.pending}}</span>
                         </h4><br>
                     </div>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="card" style="background-color: #d65f5f">
                     <div class="card-body"><br>
                         <h4 class="text-center bdg-border">Abondon
                             <span class="badge badge-pill badge-light">{{CountList.abandoned}}</span>
                         </h4><br>
                     </div>
                 </div>
             </div>-->
            <div class="col-sm-6">
                <div id="chartContainer1" style="width:100%; height:300px;"></div>
            </div>
        </div>
    </div>
</section>
<section class="sec_secviceContent" id="about-us-2" ng-show="isProfile">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapseTwo11">
                                    <span class="glyphicon"></span>
                                    Menu
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo11" class="panel-collapse collapse in">
                            <div class="widget widget-sidebar widget-white">
                                <ul>
                                    <li class="cat-item cat-item-34"
                                        ng-click="ischangePassword=false; isAddCounsellors=false;isCounsellors =false">
                                        <a> Change Password</a>
                                    </li>
                                    <!-- <li class="cat-item cat-item-34"
                                         ng-click="isAddCounsellors=true;ischangePassword=true;isCounsellors =false">
                                         <a> Add Counsellor</a>

                                     </li>-->
                                    <li class="cat-item cat-item-34"
                                        ng-click="counsellorAddUpdateDelete()">
                                        <a>Counsellor (add/edit/delete)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 about-left-img">
                <div class="about-block left">
                    <div ng-hide="ischangePassword" class="container col-lg-12 col-sm-12 col-md-12">

                        <div class="card">
                            <h3 class="text-center"> Change Password</h3>
                            <form name="resetpassform" ng-submit="resetPassword()">
                                <!-- <div class="form-group col-md-8">
                                     <label> Username </label>
                                     <input type="text"
                                            name="Username"
                                            class="form-control"
                                            id="Username"
                                            maxlength="200"
                                            placeholder="Enter Username"
                                            ng-model="resetPassData.username"
                                            required>
                                     <span style="color:red"
                                           ng-show="resetpassform.Username.$touched && resetpassform.Username.$invalid">
                                                          The username is required.
                                                      </span>

                                 </div>-->
                                <div class="form-group col-md-8">
                                    <label> old password </label>
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           id="password"
                                           maxlength="200"
                                           placeholder="Enter old password"
                                           ng-model="resetPassData.password"
                                           required>
                                    <span style="color:red"
                                          ng-show="resetpassform.password.$touched && resetpassform.password.$invalid">
                                        old password is required.
                                    </span>
                                    <span style="color:red"
                                          ng-show="PassInvalid">
                                        Please Enter Correct password.
                                    </span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label> New Password </label>
                                    <input type="password"
                                           name="newPassword"
                                           class="form-control"
                                           id="newPassword"
                                           maxlength="200"
                                           placeholder="Enter new password"
                                           ng-model="resetPassData.newPassword"
                                           required>
                                    <span style="color:red"
                                          ng-show="resetpassform.newPassword.$touched && resetpassform.newPassword.$invalid">
                                        New Password is required.
                                    </span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Enter new password
                                        Again</label>
                                    <input type="text"
                                           name="againPassword"
                                           class="form-control"
                                           id="againPassword"
                                           maxlength="200"
                                           placeholder="Enter password again"
                                           ng-model="resetPassData.againPassword"
                                           required>
                                    <span style="color:red"
                                          ng-show="resetpassform.againPassword.$touched && resetpassform.againPassword.$invalid">
                                        New Password is required.
                                    </span>
                                    <span style="color:red"
                                          ng-show="NotMatch">
                                        password not matched, Please check password.
                                    </span>
                                </div>
                                <br>
                                <div class="row col-md-8" style="display: inline">
                                    <div>
                                        <button style="float: left; margin-bottom: auto" type="reset"
                                                class="btn w3-theme-d3 ">CANCEL
                                        </button>
                                    </div>
                                    <div id="submitbutton1">
                                        <button ng-hide="LoadingCP" style="float: right;  margin-bottom: auto"
                                                type="submit"
                                                class="btn w3-theme-d3">SUBMIT
                                        </button>
                                        <div ng-show="LoadingCP" class="lds-ellipsis">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-show="isAddCounsellors" class="container col-lg-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Add Counsellor</h4>
                            </div>
                            <div class="col-sm-6">
                                <i class="fas fa-arrow-alt-circle-left pull-right"
                                   ng-click="backAddCounsellor()"
                                   style="cursor: pointer;"></i>
                            </div>
                        </div>

                        <form method="post" name="addcouns" ng-submit="AddCounsellor()">
                            <div ng-show="added" class="alert alert-success" role="alert">
                                counsellor Added Successfully.
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Enter Name</label>
                                    <input type="text"
                                           name="name"
                                           class="form-control"
                                           id="inputName"
                                           maxlength="255"
                                           min="1"
                                           onkeypress="return (event.charCode >= 8 && event.charCode <= 46) || (event.charCode >= 65 && event.charCode <= 222)"
                                           placeholder="Enter Name"
                                           ng-model="CounsellorData.Name"
                                           required>
                                    <span style="color:red"
                                          ng-show="addcouns.Name.$touched && addcouns.Name.$invalid && addcouns.Name.$submitted">
                                    The Name is required.
                                </span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Email</label>
                                    <input type="email"
                                           name="mail"
                                           class="form-control"
                                           id="inputEmail4"
                                           minlength="3"
                                           maxlength="255"
                                           placeholder="Email"
                                           ng-model="CounsellorData.Email"
                                           required>
                                    <span style="color:red"
                                          ng-show="addcouns.mail.$touched && addcouns.mail.$invalid && addcouns.name.$submitted">
                                        The Email is required.
                                    </span>
                                    <div style="color:red" ng-if="myResponse.errors.Email">
                                        Sorry Email is already registered, Please enter another Email.
                                    </div>
                                    <div style="color:red" ng-show="isInvalidEmail">
                                        You have entered an invalid email address! Email Should be abc@xyz.(com, in,
                                        etc)
                                    </div>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Contact No</label>
                                    <input type="tel"
                                           name="Contact"
                                           class="form-control"
                                           id="ContactNo"
                                           minlength="3"
                                           maxlength="255"
                                           placeholder="Contact No"
                                           ng-model="CounsellorData.Contact"
                                           required>
                                    <span style="color:red"
                                          ng-show="addcouns.Contact.$touched && addcouns.Contact.$invalid && addcouns.Contact.$submitted">
                                        The Contact No is required.
                                    </span>
                                    <!-- <div style="color:red" ng-show="dublicate">
                                         Sorry Contact No is already registered, Please enter another Contact No.
                                     </div>-->
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label>Address</label>
                                <input type="text"
                                       name="Location"
                                       class="form-control"
                                       id="inputLocation"
                                       minlength="3"
                                       maxlength="255"
                                       placeholder="City Name, Area"
                                       ng-model="CounsellorData.Address">
                                <span style="color:red"
                                      ng-show="addcouns.Address.$touched && addcouns.Address.$invalid && addcouns.Address.$submitted">
                                The Address is required.
                            </span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Enter Username</label>
                                    <input type="text"
                                           name="username"
                                           class="form-control"
                                           id="inputUsername"
                                           minlength="3"
                                           maxlength="255"
                                           placeholder="Enter username"
                                           ng-model="CounsellorData.username"
                                           required>
                                    <span style="color:red"
                                          ng-show="addcouns.username.$touched && addcouns.username.$invalid && addcouns.name.$submitted">
                                        The username is required.
                                    </span>

                                    <div style="color:red" ng-if="myResponse.errors.username">
                                        Username Already In use.
                                    </div>

                                </div>
                                <div class="form-group col-md-8">
                                    <label>Password</label>
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           id="inputPassword"
                                           placeholder="Enter password"
                                           ng-model="CounsellorData.password"
                                           required>
                                    <span style="color:red"
                                          ng-show="addcouns.password.$touched && addcouns.password.$invalid && addcouns.name.$submitted">
                                    The password is required.
                                </span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div ng-show="LoadingAC" class="lds-ellipsis">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <button ng-hide="LoadingAC" style="float: right; margin-bottom: 10px;" type="submit"
                                        class="btn btn-lg">ADD
                                </button>
                            </div>
                        </form>
                    </div>
                    <div ng-show="isCounsellors" class="container col-lg-12 col-sm-12 col-md-12">
                        <div ng-show="isCounsellorView">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Counsellor List</h4>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fas fa-plus-circle pull-right"
                                       style="cursor: pointer"
                                       data-toggle="tooltip" title="Add New Counsellor!"
                                       ng-click="backCounselorView()">
                                    </i>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <!--<th>Index</th>-->
                                    <th>Name</th>
                                    <th>Email</th>
                                    <!--<th>Enquiries</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="counsellor in CounsellorsList | orderBy track by $index"
                                    style="cursor: pointer" ng-click="profileCounsellor(counsellor)"
                                    ng-if="counsellor.isActive == true">
                                    <!--<td>{{$index + 1}}</td>-->
                                    <td>{{counsellor.Name}}</td>
                                    <td>{{counsellor.Email}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="isCounsellorViews">
                            <div ng-hide="isEditDiv" class="container-fluid">
                                <div  class="row">
                                <div class="col-sm-6">
                                    <h4>Counsellor Details</h4>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="row pull-right">
                                        <div class="col-sm-2 col-xs-3" >
                                            <a  ng-click="isEditDiv=true">
                                            <i class="fas fa-edit pull-right"
                                               style="cursor: pointer"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-3">
                                            <a ng-click="getEnquiryBycounsellorId(CounsellorViewData)">
                                            <i class="fas fa-trash-alt pull-right"
                                               data-toggle="tooltip" title="Delete counsellor!"
                                               style="cursor: pointer"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-3">
                                            <a ng-click="backCounselorViews()">
                                            <i class="fas fa-arrow-alt-circle-left pull-right"
                                               data-toggle="tooltip" title="Go Back!"
                                               style="cursor: pointer;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12"></div>
                               </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <tbody>
                                        <tr>
                                            <th>Name:</th>
                                            <td>{{CounsellorViewData.Name}}</td>

                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td>{{CounsellorViewData.Email}}</td>

                                        </tr>
                                        <tr>
                                            <th>Address:</th>
                                            <td>{{CounsellorViewData.Address}}</td>
                                        </tr>
                                        <tr>
                                            <th>Landmark:</th>
                                            <td>{{CounsellorViewData.Landmark}}</td>
                                        </tr>
                                        <tr>
                                            <th>Pin:</th>
                                            <td>{{CounsellorViewData.Pin}}</td>
                                        </tr>
                                        <tr>
                                            <th>username:</th>
                                            <td>{{CounsellorViewData.username}}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact:</th>
                                            <td>{{CounsellorViewData.Contact}}</td>
                                        </tr>
                                        <tr>
                                            <th>BirthDate:</th>
                                            <td>{{CounsellorViewData.BirthDate}}</td>
                                        </tr>
                                        <tr>
                                            <th>join Date:</th>
                                            <td>{{CounsellorViewData.Date | date:'longDate'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Assign:</th>
                                            <td>{{CounsellorViewData.AssignApplications}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div ng-show="LoadingCRP" class="col-sm-6">
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>

                                <div ng-hide="LoadingCRP" class="col-sm-12">
                                    <div data-toggle="collapse"
                                         data-target="#ResetPassword">
                                        <a href="javascript:void(null);"> Reset Password</a>
                                    </div>
                                    <div id="ResetPassword" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form name="changepasscounsellor" ng-submit="ChangeCounsellorPassword()">
                                                <div class="form-group col-md-6">
                                                    <label> New Password </label>
                                                    <input type="password"
                                                           name="newPassword"
                                                           class="form-control"
                                                           id="newPassword1"
                                                           maxlength="200"
                                                           placeholder="Enter new password"
                                                           ng-model="resetPassData.newPassword"
                                                           required>
                                                    <span style="color:red"
                                                          ng-show="changepasscounsellor.newPassword.$touched && changepasscounsellor.newPassword.$invalid">
                                                         New Password is required.
                                                     </span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Enter new password
                                                        Again</label>
                                                    <input type="text"
                                                           name="againPassword"
                                                           class="form-control"
                                                           id="againPassword1"
                                                           maxlength="200"
                                                           placeholder="Enter password again"
                                                           ng-model="resetPassData.againPassword"
                                                           required>
                                                    <span style="color:red"
                                                          ng-show="changepasscounsellor.againPassword.$touched && changepasscounsellor.againPassword.$invalid">
                                                         New Password is required.
                                                     </span>
                                                </div>
                                                <div class="col-sm-12">
                                                    <span style="color:red"
                                                          ng-show="NotMatch">
                                                             password not matched, Please check password.
                                                         </span>
                                                    <button style="float: right;  margin-bottom: auto" type="submit"
                                                            class="btn">SUBMIT
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="isEditDiv" class="row">
                                <div class="col-sm-6">
                                    <h4>Counsellor Edit</h4>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fas fa-arrow-alt-circle-left pull-right"
                                       ng-click="isEditDiv=false"
                                       data-toggle="tooltip" title="Go Back!"
                                       style="cursor: pointer;"></i>
                                </div>


                                <div class="col-sm-12">
                                    <form name="CounsellorViewDataForm" ng-submit="UpdateCounsellorInfo()">
                                        <table class="table table-hover table-bordered">
                                            <tbody>
                                            <tr>
                                                <th>Name:</th>
                                                <td>
                                                    <input type="text"
                                                           name="name"
                                                           class="form-control"
                                                           id="CounsellorViewDataName"
                                                           maxlength="255"
                                                           min="1"
                                                           placeholder="Enter Name"
                                                           ng-model="CounsellorViewData.Name"
                                                           onkeypress="return (event.charCode >= 8 && event.charCode <= 46) || (event.charCode >= 65 && event.charCode <= 222)"
                                                           required>
                                                    <span style="color:red"
                                                          ng-show="CounsellorViewDataForm.Name.$touched && CounsellorViewDataForm.Name.$invalid && CounsellorViewDataForm.Name.$submitted">
                                                    The Name is required.
                                                </span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th>Email:</th>
                                                <td>
                                                    <input type="email"
                                                           name="Email"
                                                           class="form-control"
                                                           id="CounsellorViewDataEmail"
                                                           maxlength="255"
                                                           min="1"
                                                           placeholder="Enter Email"
                                                           ng-model="CounsellorViewData.Email"
                                                           required>
                                                    <span style="color:red"
                                                          ng-show="CounsellorViewDataForm.Email.$touched && CounsellorViewDataForm.Email.$invalid && CounsellorViewDataForm.Email.$submitted">
                                                    The Email is required.
                                                </span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th>Address:</th>
                                                <td>
                                                    <input type="text"
                                                           name="Address"
                                                           class="form-control"
                                                           id="CounsellorViewDataAddress"
                                                           maxlength="255"
                                                           min="1"
                                                           placeholder="Enter Address"
                                                           ng-model="CounsellorViewData.Address"
                                                           required>
                                                    <span style="color:red"
                                                          ng-show="CounsellorViewDataForm.Address.$touched && CounsellorViewDataForm.Address.$invalid && CounsellorViewDataForm.Address.$submitted">
                                                    The Address is required.
                                                </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Landmark:</th>
                                                <td>
                                                    <input type="text"
                                                           name="Landmark"
                                                           class="form-control"
                                                           id="CounsellorViewDataLandmark"
                                                           maxlength="255"
                                                           min="1"
                                                           placeholder="Enter Address"
                                                           ng-model="CounsellorViewData.Landmark"
                                                    >
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Pin:</th>
                                                <td>
                                                    <input type="text"
                                                           name="Pin"
                                                           class="form-control"
                                                           id="CounsellorViewDataPin"
                                                           maxlength="8"
                                                           min="6"
                                                           placeholder="Enter Pin"
                                                           ng-model="CounsellorViewData.Pin">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>username:</th>
                                                <td>{{CounsellorViewData.username}}</td>
                                            </tr>
                                            <tr>
                                                <th>Contact:</th>
                                                <td>
                                                    <input type="tel"
                                                           name="Phone"
                                                           class="form-control"
                                                           id="CounsellorViewDataPhone"
                                                           maxlength="12"
                                                           min="10"
                                                           placeholder="Enter Phone"
                                                           ng-model="CounsellorViewData.Contact"
                                                           required>
                                                    <span style="color:red"
                                                          ng-show="CounsellorViewDataForm.Contact.$touched && CounsellorViewDataForm.Contact.$invalid && CounsellorViewDataForm.Contact.$submitted">
                                                    The Contact is required.
                                                </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>join Date:</th>
                                                <td>{{CounsellorViewData.Date | date:'longDate'}}</td>
                                            </tr>
                                            <tr>
                                                <th>Assign:</th>
                                                <td>{{CounsellorViewData.AssignApplications}}</td>
                                            </tr>
                                            <tr>
                                                <th>Completed:</th>
                                                <td>{{CounsellorViewData.completedApplications}}</td>
                                            </tr>
                                            <tr>
                                                <th>Pending:</th>
                                                <td>{{CounsellorViewData.PendingApplications}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="col-md-8">
                                            <button style="float: right; margin-bottom: 10px;" type="submit"
                                                    class="btn btn-lg">Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div ng-show="CounsellorHaveEnquiry">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>Counsellor Enquiry History</h5>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fas fa-arrow-alt-circle-left pull-right"
                                       data-toggle="tooltip" title="Go Back!"
                                       ng-click="backCounsellorHaveEnquiry()"
                                       style="cursor: pointer;"></i>
                                </div>

                                <div ng-if="pendingEnquiry.length > 0" class="alert alert-danger col-sm-12">
                                    <strong>{{pendingEnquiry.length }} Pending Enquiries!</strong> You can not remove
                                    this counsellor! still you want to delete, please re assign Enquiries to another
                                    counsellor and try again..
                                </div>
                                <div ng-if="pendingEnquiry.length == 0" class="alert alert-danger col-sm-12">
                                    Do you want to continue ! Here is the history of counsellor work
                                    <i ng-hide="LoadingDC" class="fas fa-trash-alt pull-right"
                                       ng-click="OpenModelFor('counsellor')"
                                       data-toggle="tooltip" title="Delete counsellor!"
                                       style="cursor: pointer"></i>
                                </div>
                                <div ng-show="LoadingDC" class="col-sm-6">
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="panelCouns in AllEnquiryOfCounsellor | orderBy : 'enquiry.ApplicationStatus' track by $index">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                        <span class="panel-title">
                                             <div class="row cat-item cat-item-34" data-toggle="collapse"
                                                  data-target="#collapseEnquiry{{$index}}">
                                                <div class="col-sm-6">
                                                    <h5>Assign Date: {{panelCouns.AssignDate | date:'longDate'}}</h5>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="pull-right">{{panelCouns.enquiry.ApplicationStatus}}</p>
                                                </div>
                                            </div>
                                        </span>
                                        </div>
                                        <div id="collapseEnquiry{{$index}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-left">
                                                    <tbody>
                                                    <tr>
                                                        <th>ApplicationStatus:</th>
                                                        <td>{{panelCouns.enquiry.ApplicationStatus}}</td>
                                                        <th>Date:</th>
                                                        <td>{{panelCouns.enquiry.Date | date:'longDate'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th> Name:</th>
                                                        <td>{{panelCouns.enquiry.Name}}</td>
                                                        <td colspan="2">{{panelCouns.enquiry.RequireCookChefFor}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Contact:</th>
                                                        <td>{{panelCouns.enquiry.Contact}}</td>
                                                        <th>Email</th>
                                                        <td>{{panelCouns.enquiry.Email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Assigned Counsellor:</th>
                                                        <td>{{panelCouns.CounsellorName}}</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div ng-hide="show" class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter Remark </label>
                    <textarea ng-click="pleaseSelectRemark = false"
                              class="form-control-sm"
                              ng-model="commentsRemark.Remark"
                              id="exampleFormControlTextarea1"
                              minlength="10"
                              maxlength="100"
                              rows="0" required>
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <h6 style="color: red" ng-show="pleaseSelectRemark" class="pull-left">Please Enter remark min 10
                    character </h6>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        ng-click="LoadingAAC = false;LoadingGRA = false;LoadingAC = false;LoadingWUFAD=false;">Close
                </button>
                <button ng-show="OpenModelForEnquiry" type="button" class="btn btn-primary"
                        ng-click="RemoveEnquiry(NewEnquiryData,commentsRemark.Remark)">continue
                </button>
                <button ng-show="OpenModelForEnquiryOne" type="button" class="btn btn-primary"
                        ng-click="RemoveEnquiryOne(ReassignData, commentsRemark.Remark)">continue
                </button>
                <button ng-show="OpenModelForCounsellor" type="button" class="btn btn-primary"
                        ng-click="RemoveCounsellor()">continue
                </button>
                <button ng-show="OpenModelForAbandon" type="button" class="btn btn-primary"
                        ng-click="AbandonEnquiry(commentsRemark.Remark)">continue
                </button>
            </div>
        </div>
        <div ng-show="show" class="alert" role="alert"
             style="background-color: rgba(255,255,255,0.86);border: 2px solid orangered; color: black">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="show = false;">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <h4> {{SuccessMessgage}}</h4>
        </div>
    </div>
</div>
<div class="modal fade" id="ShowMessgae" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="alert" role="alert"
                 style="background-color: rgba(255,255,255,0.86);border: 2px solid orangered; color: black">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
                <h4> {{SuccessMessgage}}</h4>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/appear.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="js/jquery.bxslider.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider_content').bxSlider({
            mode: 'fade',
            auto: true,
            autoControl: true,
            speed: 10
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('ul.nav li.dropdown-submenu').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(50);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(50);
        });
    });
</script>

</body>

</html>
